/* RESET */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: "Montserrat", sans-serif;
}

img{
    max-width: 100%;
}

/* FINE RESET */

/* COMMON */

.flex{
    display: flex;
}

.top-30{
    margin-top: 30px;
}

a{
    text-decoration: none;
}

.m-30{
    margin: 30px 30px;
}

.m-10{
    margin: 10px 10px;
}

h2{
    font-size: 2em;
}

h4{
    font-size: 1.5em;
}

.title{
    align-items: center;
}

/* FINE COMMON */

.wrapper{
    width: 100%;
    height: 100vh;
    background-color: #141922;
}

.col{
    height: 100px;
    width: 100px;
    background-color: white;
}

.around{
    justify-content: space-around;
}

.top-row{
    background-color: #141922;
    height: calc(100% - 100px);
    display: flex;
}


.col-left{
height: 100vh;
width: 200px;
background-color: #000000;
color: white;
}

.col-radius{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: white;
}

.header{
    height: 80px;
    width: calc(100vw - 200px);
    background-color: #080b12;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
}

.end{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-right: 10px;
}

.btn{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    display: inline-block;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;

}

.col-down{
height: auto;
width: calc(100vw - 200px);
margin-top: 80px;
}

.bottom-row{
    height: 60px;
    background-color: #282828;
    z-index: 9999;
    position: fixed;
    bottom: 0;
}

.up-bar{
    color: lightgray;
    list-style: none;
    justify-content: center;
    margin: 0 100px;
}

.desktop{
    display: none;
}

.gray{
    color: gray;
}

.block{
    display: inline-block;
}

.logo{
    width: 40px;
}

.plus{
    background-color: white;
    font-size: 3em;
    width: 80px;
    color: #000000;
    height: 60px;
    text-align: center;
}