/* RESET */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

img{
    max-width: 100%;
    object-fit: cover
}

/* FINE RESET */

/* COMMON */

.flex{
    display: flex;
}

.top-10{
    margin-top: 10px;
}

.top-30{
    margin-top: 30px;
}

.top-80{
    margin-top: 80px;
}

.top-10-center{
    margin-top: 10px;
    text-align: center;
}

a{
    text-decoration: none;
}

.m-30{
    margin: 30px 30px;
}

.m-10{
    margin: 10px 10px;
}

h2{
    font-size: 2em;
}

h4{
    font-size: 1em;
}

.title{
    align-items: center;
}

.scroll{
    overflow: scroll;
}

/* FINE COMMON */

.wrapper{
    width: 100%;
    height: 100vh;
    background-color: #141922;
}

.col{
    min-height: 150px;
    width: 150px;
    position: relative;
}

.col-small{
    width: 50px;
    min-height: 20px;
}

.top-title{
    margin-top: 150px;
    margin-left: 10px;

}

.left-10{
    margin-left: 10px;
}

.around{
    justify-content: space-around;
}

.between{
    justify-content: space-between;
}

.top-row{
    background-color: #141922;
    height: calc(100% - 100px);
    display: flex;
}


.col-left{
height: calc(100vh - 80px);
width: 250px;
background-color: #000000;
color: white;
z-index: 1;
}

.col-right{
    width: calc(100vw - 250px);
    height: calc(100vh - 80px);
}

.col-radius{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: white;
}

.header{
    height: 80px;
    width: calc(100vw - 250px);
    background-color: #00000099;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
}

.end{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-right: 10px;
}

.btn{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    display: inline-block;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;

}

.col-down{
height: auto;
margin-top: 80px;
}

.bottom-row{
    height: 80px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    z-index: 999;
    bottom: 0;
}

.justify{
justify-content: center;
}



.desktop{
    display: none;
}

.gray{
    color: #808080;
}

.block{
    display: inline-block;
}

.logo{
    width: 40px;
}

.plus{
    background-color: white;
    width: 40px;
    color: #000000;
    text-align: center;
}

.center{
    align-items: center;
}

.left-hr{
    width: 80%;
    margin: 0 auto;
}

.fixed{
    position: fixed;
    bottom: 60px;
    width: 250px;
    background-color: #00000099;
}

.yellow{
    width: 50%;
    margin: 0 auto;
    border: 1px solid yellow;
    margin-top: 5px;
}

.m-title{
    margin-bottom: 10px;
    margin-left: 30px;
}

.white{
    color: white;
}






/* MEDIA QUERY MD */
@media screen and (max-width: 1000px) {
    .wrap{
        flex-wrap: wrap;
    }

    .m-li{
        width: calc (100% / 4);
    }

    .col-song{
        width: calc(100% / 4 - (10px* 5));
    }
}
 /* FINE MEDIA QUERY MD */





/* MEDIA QUERY S */
@media screen and (max-width: 850px) {
    .wrap{
        flex-wrap: wrap;
    }

    .m-li{
        width: calc (100% / 3);
    }

    .col-song{
        width: calc(100% / 2 - (10px* 2));
    }

    .col-user{
        width: calc(100% / 2 - (10px*1));
    }


}
/* FINE MEDIA QUERY S */

 /* MEDIA QUERY XS */
 @media screen and (max-width: 700px) {
    .small{
        display: none;
    }
    
    .wrap{
        flex-wrap: wrap;
    }

    .m-li{
        width: calc (100% / 4);
    }
}
/* FINE MEDIA QUERY XS */



